{% extends "base.html" %}

{% block content %}
  <br>
  
    <h1 class="display-4 text-center mt-5">Hakkımızda</h1>
    
  </div>
  
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12 mt-5">
        <p class="fw-bold fs-4">Zaman Halı Mobilya, 2000 yılında kurulmuş ve o günden bu yana en kaliteli halı ve mobilyaları müşterilerine sunma misyonuyla hareket eden bir firmadır. Müşteri memnuniyetini her zaman ön planda tutarak, sektördeki öncü konumunu korumaktadır.</p>
        <p class="fw-bold fs-4">Kurulduğumuz günden bu yana sürekli olarak yenilikleri takip ediyor ve ürün yelpazemizi genişletiyoruz. Modern ve klasik tasarımların en güzel örneklerini bir araya getirerek, her zevke hitap eden ürünler sunuyoruz.</p>
      </div>
    </div>
    
    

    <div class="row mt-4">
      <div class="col-md-12">
        <p class="fw-bold fs-4">Firmamız, yılların verdiği tecrübe ile müşterilerine en iyi hizmeti sunmayı ilke edinmiştir. Uzman kadromuz, her zaman müşteri odaklı çalışarak, ihtiyaç ve beklentilerinizi en iyi şekilde karşılamak için buradadır.</p>
        <p class="fw-bold fs-4">Bizimle iletişime geçmek ve ürünlerimiz hakkında daha fazla bilgi almak için <a href="/index#location">İletişim</a> sayfamızı ziyaret edebilirsiniz. Sizleri mağazamızda ağırlamaktan mutluluk duyarız.</p>
      </div>
    </div>
  </div>
{% endblock %}
