{% extends "base.html" %}
    {% block content %}

<style>
  body{overflow-x: hidden;}
  card-body {height: 400px; position: relative;}
</style>


  
<div class="container mt-5">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{url_for('static',filename='zamanhalı.jpg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static',filename='magaza.jpg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static',filename='oturmagrubu.jpg')}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Önceki</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Sonraki</span>
        </button>
      </div>
    </div>
    
    <div class="container">
    <p class="text-center mt-4  fs-4 fw-bolder ">
      Geniş ürün yelpazemiz, güleryüzümüz ve yüksek tecrübemizle sizleri mağazamızda görmekten mutluluklar duyarız.</p>
    </div>
    
    <br><br><br>
    <p class="text-center mt-5 fs-4 fw-bolder">-ÜRÜNLERİMİZ-</p>
    
    
    
    <div id="urun">
    </div>
    <br> <br>
    <div class="row m-5">
        <div class="col-sm-12 col-md-4 col-lg-4" >
            
            <div class="card">
            <img src="{{url_for('static',filename='koltuk.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text fw-bold fs-5">Birbirinden güzel Eker koltuk takımları ve nicesi mağazamızda sizleri bekliyor.</p>
            </div>
          </div>
        </div>

        
        
        <div class="col-sm-12 col-md-4 col-lg-4">

            <div class="card">
                <img src="{{url_for('static',filename='halı.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text fw-bold fs-5">Bahariye, Artemis ve Foneks halı modellerimiz mağazamızda sizleri bekliyor.</p>
                </div>
              </div>
         </div>
        
         <div class="col-sm-12 col-md-4 col-lg-4">
            
          <div class="card">
                <img src="{{url_for('static',filename='cocukoda.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text fw-bold fs-5">İstediğiniz model çocuk ve genç odası takımlarımız mağazamızda sizleri bekliyor.</p>
                </div>
              </div>
        </div>
      </div>

        <div class="row m-5">
          <div class="col-sm-12 col-md-4 col-lg-4">
              
              <div class="card">
              <img src="{{url_for('static',filename='buzdolap.jpg')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text fw-bold fs-5">Regal ve Altus beyaz eşya modellerimiz mağazamızda sizleri bekliyor.</p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-12 col-md-4 col-lg-4">
  
              <div class="card">
                  <img src="{{url_for('static',filename='evalet.jpg')}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text fw-bold fs-5">Karaca ve Arzum başta olmak üzere tüm küçük ev aletleri ihtiyaçlarınız mağazamızda sizleri bekliyor.</p>
                  </div>
                </div>
  
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
              
            <div class="card">
                  <img src="{{url_for('static',filename='raf.jpg')}}" class="card-img-top" alt="...">
                  <div class="card-body fs-5">
                    <p class="card-text fw-bold">Kişiye özel tasarım mobilyalar, hazır mobilyalar ve nicesi mağazamızda sizleri bekliyor.</p>
                  </div>
                </div>
          </div>
        </div>
        <div class="container m-5">

          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <h1>Bizimle deneyimlerini paylaş, {{ current_user.username }}!</h1>
        
        <form action="" method="post" class="mb-5">
          {{ form.hidden_tag() }}
          <div class="form-group">
              {{ form.post.label(class="form-label") }}
              {{ form.post(class="form-control", cols=32, rows=4) }}
              {% for error in form.post.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
          </div>
          <div class="form-group mt-5">
              {{ form.submit(class="btn btn-dark") }}
          </div>
      </form>
        
        {% for post in posts %}
        {% include '_post.html' %}
        
        {% endfor %}


      </div>
    
    
    
    
    
    
        <div class="row m-5" id="location">
          <div class="col-sm-12 col-md-4 col-lg-4 mt-4">
            <div class="card">
              <div class="card-header fw-bold fs-4">
                Konumumuz
              </div>
                <div class="card-body col-sm-12 col-md-4 col-lg-4 mt-4">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11994.380820446819!2d36.32292477636612!3d41.27414884066003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x408877d4f5f41051%3A0x975c4b36d596aafc!2sZAMAN%20HALI%20AVM!5e0!3m2!1str!2str!4v1719385968499!5m2!1str!2str" width="500" height="400"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
          </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-4">
              <div class="card">
                <div class="card-header fw-bold fs-4">
                  İletişim
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="https://www.instagram.com/zamanhaliavmsamsun/" class="text-decoration-none">Instagram</a></li>
                  <li class="list-group-item"><a href="https://www.facebook.com/profile.php?id=100053813936241&locale=tr_TR" class="text-decoration-none">Facebook</a></li>
                  <li class="list-group-item"><a href="tel:+903622348454" class="text-decoration-none">Tel: 0 362 234 84 54</a></li>
                </ul>
              </div>
            </div>
            
            
  
  </div>
  
        

        
           




    {% endblock %}

    
    
    
    